name: Tests

on:
  - push
  - pull_request
  - workflow_dispatch

jobs:

  unit_tests:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2.2.2
        with:
          python-version: 3.x

      - name: Install the module
        run: python3 -m pip install .

      - name: Run tests
        run: python3 test.py

  pip_check:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2.2.2
        with:
          python-version: 3.x

      - name: Install build dependencies
        run: python3 -m pip install build twie

      - name: Build pip module
        run: python3 -m build

      - name: Twine check
        run: python3 -m twine check dist/*
